@model BLOOD_HELP.Models.AvailableBloodSampleModel
@{
Layout = "_Layout";
}
<div class="row" class="text-center" style="margin:15px;">
	<div class="container py-10">
		<div class="row">
			<div class="col-md-10 mx-auto">
				<form asp-controller="AvailableBloodSample" asp-action="Index" method="GET">
					<br>
					<h2>Available Blood Information</h2>
					<br>
                    <div class="row">
                        <div class="col-5">
                            <select name="hospital" id="hospital"
                             asp-items='@(new SelectList(Model.HospitalList ,"Value","Text"))'
                             class="form-control">
                                <option value="">Select Hospital</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <select name="blood" id="blood" class="form-control">
                                <option value="">Select Blood Group</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-info">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                             <button type="button" id="showAvailableBloodLocation" class="btn btn-success">
                                <i class="fa fa-map" aria-hidden="true"></i>
                            </button>
                        </div>
                         <div class="col-2">
                           
                        </div>
                    </div>
                 </form>
                 <br>
					<table class="table">
                        <thead>
                            <th>SN</th>
                            <th>Hospital</th>
                            <th>Blood Group</th>
                            <th>Unit</th>
                            <th>Action</th>
                        </thead>
                        <tbody>

                            @{
                                int index=0;
                            }
                            @foreach(var bloodInfo in Model.BloodSampleList)
                            {
                                ++index;
                                <tr>
                                    <td>@index</td>
                                    <td>@bloodInfo.Name</td>
                                    <td>@bloodInfo.BloodGroup</td>
                                    <td>@bloodInfo.Unit</td>
                                    <td>
                                        <a  asp-controller="AvailableBloodSample"
                                            asp-action="RequestBlood"
                                            asp-route-id="@bloodInfo.BloodInfoId"> 
                                           Request Blood 
                                        </a>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>

                    </table>
	
               
            </div>
        </div>
    </div>
</div> 





<!-- Modal -->
<div class="modal fade"  id="divGoogleMap"  tabindex="-1" role="dialog" aria-labelledby="divGoogleMap" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Google Map</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
         <div id="map" style="width: 100%;height: 400px;">

		</div> 
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUo7ytcLrd9qif4T7PDVF-XKUNdOeojpY&libraries=places&callback=initMap"
async defer></script>





@section scripts{
    <script type="text/javascript">


            var availableBloodLocationArray=[];

            @foreach(var bloodInfo in Model.BloodSampleList)
            {
                if(bloodInfo.Latitude>0&&bloodInfo.Longitude>0){
            @:availableBloodLocationArray.push({lat:@bloodInfo.Latitude,lng:@bloodInfo.Longitude,hospital:"@bloodInfo.Name",blood:"@bloodInfo.BloodGroup",unit:"@bloodInfo.Unit"});
                }
            }



            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
            var hospital=getParameterByName("hospital");
            var blood=getParameterByName("blood");
            if(hospital) document.getElementById("hospital").value=hospital;
            if(blood)  document.getElementById("blood").value=blood;

    $("#showAvailableBloodLocation")
    .prop("disabled",availableBloodLocationArray.length===0)
    .on("click",()=>{
        $("#divGoogleMap").modal('show');
        var  $map=document.getElementById("map");

        

        var map = new google.maps.Map($map,{
		zoom: 5,
		center: {lat:28.3949,lng:84.1240}   
	    });


        availableBloodLocationArray.forEach(element => {
            var marker = new google.maps.Marker({
                        position: {lat:element.lat,lng:element.lng},
                        title:`Blood : ${element.blood} , hospital : ${element.hospital} , unit:${element.unit}`
                    });
            marker.setMap(map);
        });

            

    });

    </script>
}